body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1e1e1e;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* evenly distribute items along the vertical axis */
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  /* This will space out the game and leaderboard */
  height: 100vh;  /* Takes the full viewport height */
  padding: 2rem;  /* Optional: Adds some space on the top and bottom */
}

#game-container {
  position: relative;
  margin: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p#score {
	margin-top: 0px;
}

#score-board {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #f8f8f2;
}

#game {
  border: 1px solid #f8f8f2;
  background-color: #1e1e1e;
  font-size: 2rem;
  width: 100%;
  height: 90vh;
  max-height: 600px;
  max-width: 800px;
}

#game-overlay {
  /* Existing styles */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 1.55rem); /* Adjust the value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f8f8f2;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  visibility: hidden;

  /* New styles for the black box */
  box-sizing: border-box;
  padding: 50px;
  border: 1px solid #f8f8f2;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 0;
}

#score-board, #wpm-container, #language-container {
  position: absolute;
  font-size: 1.5rem;
  color: #f8f8f2;
}

#score-board {
  top: 2rem;
  left: 2rem;
}

#wpm-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    align-items: center;
    color: #f8f8f2;
}

#wpm-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#wpm-container select {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#wpm-container select:focus {
    outline: none;
}

#language-container, #mode-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #f8f8f2;
    margin-bottom: 20px;
}

#language-container label, #mode-container label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#language-container select, #mode-container select {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#language-container select:focus, #mode-container select:focus {
    outline: none;
}


#settings-menu {
    display: none;
    background-color: #1e1e1e; /* Make the background black */
    border: 1px solid #f8f8f2; /* Optional: Add a border */
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#settings-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#settings-button:focus {
    outline: none;
}

#settings-button:hover {
    background-color: #6272a4;
    cursor: pointer;
}

#gameOverContainer {
  text-align: center;
}

#gameOverContainer #playerName,
#gameOverContainer #score,
#gameOverContainer #language,
#gameOverContainer #WPM,
#gameOverContainer #mode,
#gameOverContainer #options,
#gameOverContainer #precision,
#gameOverContainer #timeElapsed {
  color: #ffffff; /* Set text color to white */
  text-shadow: 0 0 5px #7DF9FF, 0 0 10px #7DF9FF, 0 0 20px #7DF9FF; /* Add the desired blue glow effect */
}

#gameOverContainer #playerName {
  font-size: 2rem;
}

#gameOverContainer #score {
  font-size: 1.5rem;
}

#gameOverContainer #language,
#gameOverContainer #WPM,
#gameOverContainer #mode,
#gameOverContainer #options,
#gameOverContainer #precision,
#gameOverContainer #timeElapsed {
  font-size: 1rem;
}




#pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#previous-page, #next-page {
  background-color: #44475a;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 10px;
}

#previous-page:hover, #next-page:hover {
  background-color: #6272a4;
  cursor: pointer;
}

#previous-page:disabled, #next-page:disabled {
  background-color: #44475a;
  color: #666;
  cursor: not-allowed;
}


@media screen and (max-width: 600px) {
  #score-board, #wpm-container, #language-container {
    position: static;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
  }
}

#leaderboard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1rem;
}

#leaderboard th,
#leaderboard td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

#leaderboard tr:nth-child(even) {
  background-color: #282a36;
}

@media screen and (max-width: 600px) {
  #leaderboard,
  #leaderboard th,
  #leaderboard td {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #leaderboard th,
  #leaderboard td {
    font-size: 0.7rem;
  }
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1e1e;
}
::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #44475a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6272a4;
}

#motivationalMessage {
	max-width: 600px;
	font-size: 1rem;
}

#capsLockIndicator {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#GamePaused {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
	
#player-name-container {
    display: flex;
    align-items: center;
    color: #f8f8f2;
}

#player-name-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#player-name-container input {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    outline-color: red;  /* Add this line */
}

#player-name-container input:valid {
    outline-color: initial;  /* Add this line */
}


button#play-again {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

button#play-again:hover {
    background-color: #6272a4;
    cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

#home-icon-link, #github-icon-link, #faq-link {
  color: #f8f8f2;
  font-size: 24px;
  text-decoration: none;
}

#home-icon-link:hover, #github-icon-link:hover, #faq-link:hover {
  color: #6272a4;
}

/* Existing styles */

.faq-content {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  color: #f8f8f2;
}

.faq-content h2 {
  margin-top: 30px;
  font-size: 1.5rem;
}

.faq-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.faq-content a {
  color: #f8f8f2;
  text-decoration: underline;
}

.faq-content a:hover {
  color: #6272a4;
}