body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1e1e1e;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


#main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 100vh;
  padding: 2rem;
}

#game-container {
  position: relative;
  margin: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p#score {
	margin-top: 0px;
}

#score-board {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #f8f8f2;
}

#game {
  border: 1px solid #f8f8f2;
  background-color: #1e1e1e;
  font-size: 2rem;
  width: 100vmin;
  height: 75vmin;
  max-height: 600px;
  max-width: 800px;
}

#game-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 1.55rem); /* Adjust the value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f8f8f2;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
  box-sizing: border-box;
  padding: 50px;
  border: 1px solid #f8f8f2;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 0;
}

#score-board, #wpm-container, #language-container {
  position: absolute;
  font-size: 1.5rem;
  color: #f8f8f2;
}

#score-board {
  top: 2rem;
  left: 2rem;
}

#wpm-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    align-items: center;
    color: #f8f8f2;
}

#wpm-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#wpm-container select {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#wpm-container select:focus {
    outline: none;
}

#settings-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #f8f8f2;
    margin-bottom: 20px;
}

#settings-container label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#settings-container select {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#settings-container select:focus {
    outline: none;
}

#settings-menu {
    display: none;
    background-color: #1e1e1e; /* Make the background black */
    border: 1px solid #f8f8f2; /* Optional: Add a border */
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#settings-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#settings-button:focus {
    outline: none;
}

#settings-button:hover {
    background-color: #6272a4;
    cursor: pointer;
}

#gameOverContainer {
  text-align: center;
}

#gameOverContainer #playerName,
#gameOverContainer #score,
#gameOverContainer #language,
#gameOverContainer #WPM,
#gameOverContainer #mode,
#gameOverContainer #options,
#gameOverContainer #precision,
#gameOverContainer #timeElapsed {
  color: #ffffff; /* Set text color to white */
  text-shadow: 0 0 5px #7DF9FF, 0 0 10px #7DF9FF, 0 0 20px #7DF9FF; /* Add the desired blue glow effect */
}

#gameOverContainer #playerName {
  font-size: 2rem;
}

#gameOverContainer #score {
  font-size: 1.5rem;
}

#gameOverContainer #language,
#gameOverContainer #WPM,
#gameOverContainer #mode,
#gameOverContainer #options,
#gameOverContainer #precision,
#gameOverContainer #timeElapsed {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  #score-board, #wpm-container, #language-container, #settings-button, #settings-menu {
    position: static;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
  }
}

#pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#previous-page, #next-page {
  background-color: #44475a;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 10px;
}

#previous-page:hover, #next-page:hover {
  background-color: #6272a4;
  cursor: pointer;
}

#previous-page:disabled, #next-page:disabled {
  background-color: #44475a;
  color: #666;
  cursor: not-allowed;
}

#previous-page, #next-page, #previous-page-latest-scores, #next-page-latest-scores {
  background-color: #44475a;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 10px;
}

#previous-page:hover, #next-page:hover, #previous-page-latest-scores:hover, #next-page-latest-scores:hover {
  background-color: #6272a4;
  cursor: pointer;
}

#previous-page:disabled, #next-page:disabled, #previous-page-latest-scores:disabled, #next-page-latest-scores:disabled {
  background-color: #44475a;
  color: #666;
  cursor: not-allowed;
}

#leaderboard, #latest-scores {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1rem;
}

#leaderboard th,
#latest-scores th,
#leaderboard td,
#latest-scores td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
}

#leaderboard tr:nth-child(even),
#latest-scores tr:nth-child(even) {
  background-color: #282a36;
}

@media screen and (max-width: 600px) {
  #leaderboard,
  #latest-scores,
  #leaderboard th,
  #latest-scores th,
  #leaderboard td,
  #latest-scores td {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #leaderboard th,
  #latest-scores th,
  #latest-scores td,
  #leaderboard td {
    font-size: 0.7rem;
  }
}

.small-text {
  font-size: 0.6em;  /* Adjust this value according to your needs */
}

#motivationalMessage {
	max-width: 600px;
	font-size: 1rem;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1e1e;
}
::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #44475a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6272a4;
}

#capsLockIndicator {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#GamePaused {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
	
#player-name-container {
    display: flex;
    align-items: center;
    color: #f8f8f2;
}

#player-name-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#player-name-container input {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    outline-color: red;  /* Add this line */
}

#player-name-container input:valid {
    outline-color: initial;  /* Add this line */
}

button#play-again {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

button#play-again:hover {
    background-color: #6272a4;
    cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

#home-icon-link, #github-icon-link, #faq-link {
  color: #f8f8f2;
  font-size: 24px;
  text-decoration: none;
}

#home-icon-link:hover, #github-icon-link:hover, #faq-link:hover {
  color: #6272a4;
}

.faq-content {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  color: #f8f8f2;
}

.faq-content h2 {
  margin-top: 30px;
  font-size: 1.5rem;
}

.faq-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.faq-content a {
  color: #f8f8f2;
  text-decoration: underline;
}

.faq-content a:hover {
  color: #6272a4;
}

/*----------------- Game Themes -----------------*/

/* psychedelic theme */
[data-theme="psychedelic"],
[data-theme="psychedelic-spin"] {
  background-color: black;
  color: white;
}

[data-theme="psychedelic"]::before,
[data-theme="psychedelic"]::after,
[data-theme="psychedelic-spin"]::before,
[data-theme="psychedelic-spin"]::after {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8f00ff
  );
  background-size: 50% 50%;
  animation: rotation 10s linear infinite, colorShift 6s linear infinite;
}

[data-theme="psychedelic"]::after,
[data-theme="psychedelic-spin"]::after {
  animation-direction: reverse;
  opacity: 0.7;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}

@keyframes colorShift {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

body[data-theme="psychedelic-spin"] {
  overflow: hidden;
}

[data-theme="psychedelic-spin"] #settings-menu {
  z-index: 3;
}


[data-theme="psychedelic-spin"] p#score {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

[data-theme="psychedelic-spin"] .player-name-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

[data-theme="psychedelic-spin"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-height: 600px) {
  [data-theme="psychedelic-spin"] {
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }
}

[data-theme="psychedelic-spin"] #game {
  position: relative;
  z-index: 2;
  border: 1px solid #f8f8f2;
  font-size: 2rem;
  width: 100vmin;
  height: 75vmin;
  max-height: 600px;
  max-width: 800px;
  background: radial-gradient(circle, transparent, #000);
  animation: spin 10s infinite linear;
  transform-style: preserve-3d;
  perspective: 800px;
  border-radius: 15px;
}

@keyframes spin {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}


[data-theme="psychedelic"] #game,
[data-theme="psy2"] #game,
[data-theme="highway"] #game,
[data-theme="rollercoaster"] #game,
[data-theme="ocean"] #game,
[data-theme="space"] #game,
[data-theme="space2"] #game {
  position: relative;
  border: 1px solid #f8f8f2;
  font-size: 2rem;
  background: radial-gradient(circle, transparent, #000);
  transform-style: preserve-3d;
  perspective: 800px;
  border-radius: 15px;
}

[data-theme="psychedelic"] #score-board,
[data-theme="psychedelic"] select#wpm,
[data-theme="psychedelic"] select#theme,
[data-theme="psychedelic"] select#mode,
[data-theme="psychedelic"] select#language,
[data-theme="psychedelic"] button#settings-button,
[data-theme="psychedelic"] div#settings-menu,
[data-theme="psychedelic"] input#player-name,
[data-theme="psychedelic-spin"] #score-board,
[data-theme="psychedelic-spin"] select#wpm,
[data-theme="psychedelic-spin"] select#theme,
[data-theme="psychedelic-spin"] select#mode,
[data-theme="psychedelic-spin"] select#language,
[data-theme="psychedelic-spin"] button#settings-button,
[data-theme="psychedelic-spin"] div#settings-menu,
[data-theme="psychedelic-spin"] input#player-name,
[data-theme="psy2"] #score-board,
[data-theme="psy2"] select#wpm,
[data-theme="psy2"] select#theme,
[data-theme="psy2"] select#mode,
[data-theme="psy2"] select#language,
[data-theme="psy2"] button#settings-button,
[data-theme="psy2"] div#settings-menu,
[data-theme="psy2"] input#player-name,
[data-theme="highway"] #score-board,
[data-theme="highway"] select#wpm,
[data-theme="highway"] select#theme,
[data-theme="highway"] select#mode,
[data-theme="highway"] select#language,
[data-theme="highway"] button#settings-button,
[data-theme="highway"] div#settings-menu,
[data-theme="highway"] input#player-name,
[data-theme="rollercoaster"] #score-board,
[data-theme="rollercoaster"] select#wpm,
[data-theme="rollercoaster"] select#theme,
[data-theme="rollercoaster"] select#mode,
[data-theme="rollercoaster"] select#language,
[data-theme="rollercoaster"] button#settings-button,
[data-theme="rollercoaster"] div#settings-menu,
[data-theme="rollercoaster"] input#player-name,
[data-theme="ocean"] #score-board,
[data-theme="ocean"] select#wpm,
[data-theme="ocean"] select#theme,
[data-theme="ocean"] select#mode,
[data-theme="ocean"] select#language,
[data-theme="ocean"] button#settings-button,
[data-theme="ocean"] div#settings-menu,
[data-theme="ocean"] input#player-name,
[data-theme="space"] #score-board,
[data-theme="space"] select#wpm,
[data-theme="space"] select#theme,
[data-theme="space"] select#mode,
[data-theme="space"] select#language,
[data-theme="space"] button#settings-button,
[data-theme="space"] div#settings-menu,
[data-theme="space"] input#player-name,
[data-theme="space2"] #score-board,
[data-theme="space2"] select#wpm,
[data-theme="space2"] select#theme,
[data-theme="space2"] select#mode,
[data-theme="space2"] select#language,
[data-theme="space2"] button#settings-button,
[data-theme="space2"] div#settings-menu,
[data-theme="space2"] input#player-name {
    background-color: rgba(0, 0, 0, 0.5);
}


[data-theme="psy2"] #myVideo,
[data-theme="highway"] #myVideo,
[data-theme="rollercoaster"] #myVideo,
[data-theme="ocean"] #myVideo,
[data-theme="space"] #myVideo,
[data-theme="space2"] #myVideo {
  position: fixed;
  display: block;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myVideo {
  display: none;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
